[Desktop Entry]
Encoding=UTF-8
Name=JustPay
Comment=JustPay P2P Cryptocurrency
Exec=justpay-qt %u
Terminal=false
Type=Application
Icon=justpay128
MimeType=x-scheme-handler/justpay;
Categories=Office;Finance;
Name[en_AU]=JustPay
