[Unit]
Description=JUSTPAY's distributed currency daemon
After=network.target

[Service]
User=justpay
Group=justpay

Type=forking
PIDFile=/var/lib/justpayd/justpayd.pid

ExecStart=/usr/bin/justpayd -daemon -pid=/var/lib/justpayd/justpayd.pid \
          -conf=/etc/justpay/justpay.conf -datadir=/var/lib/justpayd

ExecStop=-/usr/bin/justpay-cli -conf=/etc/justpay/justpay.conf \
         -datadir=/var/lib/justpayd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
